<div class="w-full pt-10 flex flex-col gap-2">
  <p class="border-2 border-[#4472c4] py-2 px-1">(A) Answer A.</p>
  <p class="border-2 border-[#4472c4] py-2 px-1">(B) Answer B.</p>
  <p class="border-2 border-[#4472c4] bg-[#deebf7] py-2 px-1">(C) Answer C.</p>
  <p class="border-2 border-[#4472c4] py-2 px-1">(D) Answer D.</p>
</div>

<div class="pt-16">
  <textarea
    name=""
    id=""
    cols="60"
    rows="8"
    class="w-full h-36 py-3 px-5 box-border bg-[#deebf7] overflow-scroll"
  ></textarea>

  <div class="flex items-end justify-end pt-16">
    <button class="bg-[#70ad47] py-2 px-4 rounded text-white">
      Next question button
    </button>
  </div>
</div>
