<form>
  <div class="radiobtn">
    <input type="radio" id="answerA" name="answer" value="answerA" checked />
    <label for="answerA">(A) Answer A</label>
  </div>

  <div class="radiobtn">
    <input type="radio" id="answerB" name="answer" value="answerB" />
    <label for="answerB">(B) Answer B</label>
  </div>

  <div class="radiobtn">
    <input type="radio" id="answerC" name="answer" value="answerC" />
    <label for="answerC">(C) Answer C</label>
  </div>
  <div class="radiobtn">
    <input type="radio" id="answerD" name="answer" value="answerD" />
    <label for="answerD">(D) Answer D</label>
  </div>
</form>

<div class="">
  <textarea
    placeholder="Type your justification here..."
    cols="60"
    rows="8"
    class="w-full h-36 py-3 px-5 box-border bg-[#deebf7] overflow-scroll"
  ></textarea>
</div>
