<div class="container flex justify-between py-10">
  <div class="flex flex-col max-w-lg w-full">
    <h1 class="text-4xl font-bold mb-8">Log-in</h1>
    <form class="w-full" [formGroup]="form">
      <div class="flex flex-col mb-3">
        <label class="font-bold text-lg pt-3" for="email">E-mail</label>
        <input
          class="border border-[#4472c4] p-2 w-full"
          type="email"
          formControlName="username"
          placeholder="Enter Your E-mail"
        />
      </div>

      <div class="mb-6 flex flex-col">
        <label class="font-bold text-lg" for="password">Password</label>
        <input
          class="border border-[#4472c4] p-2 w-full"
          type="password"
          formControlName="password"
          placeholder="Password"
        />
      </div>

      <div class="flex items-center justify-between mb-10">
        <button
          class="button text-xl"
          (click)="login()"
          [disabled]="!form.valid || isLoading"
        >
          {{ isLoading ? "Loading..." : "Keep" }}
        </button>
      </div>
    </form>

    <a routerLink="/register" class="mb-4">
      <p class="underline text-blue-500">Ainda não tens conta? Cria agora</p>
    </a>
    <a routerLink="/forget-password">
      <p class="underline text-blue-500">Esqueci-me da palavra-passe</p>
    </a>
  </div>
  <div></div>
</div>

<div class="fixed right-0 top-[3.5rem]">
  <img
    class="h-[100vh] object-cover w-[50vw]"
    src="/assets/images/login-bg.png"
    alt="hi"
  />
</div>
