<div class="pr-4">
  <h1 class="text-4xl pb-2">Supportive text:</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, optio
    natus. Impedit, explicabo assumenda! Ipsum vitae cumque atque minus eum amet
    tenetur, quibusdam, illo maiores iste harum esse possimus rerum repellat?
    Cum reprehenderit, magni possimus voluptas cumque deserunt perferendis
    maiores?
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae non, totam
    quisquam quae distinctio repellat, architecto officiis neque suscipit fugit
    exercitationem hic odio repudiandae. Nesciunt debitis asperiores maxime
    nihil fugit?
  </p>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, ea
    dolore! Nemo tempora laudantium aperiam, perspiciatis quo, velit dicta autem
    laboriosam illum explicabo voluptatibus nobis magni ex, odit vel amet.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum excepturi
    aliquam fuga facilis perferendis, nostrum quibusdam obcaecati optio
    doloribus voluptatum placeat quis maxime deleniti repellat odit fugiat hic
    ut esse!
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ipsam
    voluptate eveniet neque saepe officia aperiam blanditiis architecto ipsum.
    Iusto blanditiis similique mollitia ab error voluptates. Reprehenderit sed
    iste nam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, optio
    natus. Impedit, explicabo assumenda! Ipsum vitae cumque atque minus eum amet
    tenetur, quibusdam, illo maiores iste harum esse possimus rerum repellat?
    Cum reprehenderit, magni possimus voluptas cumque deserunt perferendis
    maiores?
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae non, totam
    quisquam quae distinctio repellat, architecto officiis neque suscipit fugit
    exercitationem hic odio repudiandae. Nesciunt debitis asperiores maxime
    nihil fugit?
  </p>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, ea
    dolore! Nemo tempora laudantium aperiam, perspiciatis quo, velit dicta autem
    laboriosam illum explicabo voluptatibus nobis magni ex, odit vel amet.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum excepturi
    aliquam fuga facilis perferendis, nostrum quibusdam obcaecati optio
    doloribus voluptatum placeat quis maxime deleniti repellat odit fugiat hic
    ut esse!
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ipsam
    voluptate eveniet neque saepe officia aperiam blanditiis architecto ipsum.
    Iusto blanditiis similique mollitia ab error voluptates. Reprehenderit sed
    iste nam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, optio
    natus. Impedit, explicabo assumenda! Ipsum vitae cumque atque minus eum amet
    tenetur, quibusdam, illo maiores iste harum esse possimus rerum repellat?
    Cum reprehenderit, magni possimus voluptas cumque deserunt perferendis
    maiores?
  </p>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae non, totam
    quisquam quae distinctio repellat, architecto officiis neque suscipit fugit
    exercitationem hic odio repudiandae. Nesciunt debitis asperiores maxime
    nihil fugit?
  </p>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti, ea
    dolore! Nemo tempora laudantium aperiam, perspiciatis quo, velit dicta autem
    laboriosam illum explicabo voluptatibus nobis magni ex, odit vel amet.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum excepturi
    aliquam fuga facilis perferendis, nostrum quibusdam obcaecati optio
    doloribus voluptatum placeat quis maxime deleniti repellat odit fugiat hic
    ut esse!
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ipsam
    voluptate eveniet neque saepe officia aperiam blanditiis architecto ipsum.
    Iusto blanditiis similique mollitia ab error voluptates. Reprehenderit sed
    iste nam.
  </p>
</div>
