<div class="mb-4">
  <div class="flex flex-col gap-2">
    <div class="border py-6 px-2 flex" *ngFor="let q of [1, 2, 3]">
      <div class="w-3/5">
        (A) No seculo passado, a Fundacao Nobel ____________ dois premios a
        Marie Curie
      </div>
      <div class="w-2/5">
        <form>
          <div class="radiobtn" *ngFor="let item of [1, 2, 3]">
            <input
              type="radio"
              id="option{{ q }}{{ item }}"
              name="answer{{ q }}"
              value="Nasim{{ item }}"
            />
            <label for="option{{ q }}{{ item }}"> option {{ item }} </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="flex items-end justify-end pt-6">
  <button class="button">Submit Answer</button>
</div>
