:host {
  /* Style the label */
  label {
    position: relative;
    cursor: pointer;
  }

  .checkbox {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
  }

  /* Style the checkbox */
  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Style the image */
  img {
    display: block;
    transition: background-color 0.3s;
  }

  // label has input checked then label img is white
  input[type="checkbox"]:checked + .checkbox {
    background-color: #0ba450;
  }
  input[type="radio"]:checked + .checkbox {
    background-color: #0ba450;
  }
}

.emi-correct {
  background: #0ba450 !important;
  color: white;
}

.emi-wrong {
  background: red !important;
  color: white;
}
