<div class="w-full pt-10 flex flex-col gap-2">
  <div
    class="flex border-2 py-2 px-1 w-full justify-between items-center rounded-sm"
    *ngFor="let item of statements"
  >
    <p>
      {{ item.text }}
    </p>
    <div>
      <label class="relative inline-flex items-center cursor-pointer">
        <input
          type="checkbox"
          class="sr-only peer"
          [checked]="item.ans"
          (change)="item.ans = !item.ans"
        />

        <div
          class="w-11 h-6 bg-gray-200 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-600"
        ></div>

        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">
          {{ item.ans ? "True" : "False" }}
        </span>
      </label>
    </div>
  </div>
</div>

<div class="flex items-end justify-end pt-6">
  <button class="button">Next Questions</button>
</div>
