<section>
  <div class="container flex justify-between py-10">
    <div class="flex flex-col max-w-lg w-full">
      <h1 class="text-4xl font-bold mb-8">My personal data</h1>
      <form class="w-full flex flex-col mb-6" [formGroup]="form">
        <div class="flex flex-col mb-3">
          <label class="font-bold text-lg" for="email">Name</label>
          <input
            class="border border-[#4472c4] p-2 w-full"
            type="text"
            formControlName="name"
            placeholder="Enter Your Name"
          />
        </div>

        <div class="flex flex-col mb-3">
          <label class="font-bold text-lg" for="email">E-mail</label>
          <input
            class="border border-[#4472c4] p-2 w-full"
            type="email"
            formControlName="username"
            placeholder="Enter Your E-mail"
            readonly
          />
        </div>
      </form>
      <div class="flex mb-10 gap-4">
        <button
          class="button !bg-gray-400"
          routerLink="/dashboard"
          [queryParams]="{
            isExisting: true
          }"
        >
          Go Back
        </button>
        <button class="button" [disabled]="isLoading">
          {{ isLoading ? "Loading..." : "Save" }}
        </button>
      </div>

      <div class="mt-20">
        <a
          routerLink="/payment"
          [queryParams]="{ change: true }"
          class="button !bg-[#808080] !rounded-lg !px-6 !py-3 cursor-pointer text-2xl absolute bottom-5"
        >
          Change current plan
        </a>
      </div>
    </div>
    <div></div>
  </div>

  <div class="fixed right-0 top-[4.5rem]">
    <img
      class="h-[100vh] object-cover w-[50vw]"
      src="/assets/images/login-img.png"
      alt="hi"
    />
  </div>
</section>
