<section *ngIf="!isExisting">
  <div class="container">
    <div class="text-center py-10">
      <h1 class="text-4xl font-bold mb-2">
        Bem-vindo ao EXA, ({{ user?.displayName }})
      </h1>
      <p class="text-[#6A99D0] font-medium">ESCOLHE A(S) TUA(S) DISCIPLINAS</p>
    </div>

    <div class="grid grid-cols-4 gap-6 mb-10 max-w-2xl mx-auto">
      <div
        *ngFor="let item of cards; index as i"
        class="p-6 bg-[#F2F2F2] text-center border-[2px] cursor-pointer"
        (click)="selectCard(i)"
        [ngClass]="{ 'box-active': item.selected }"
      >
        <img [src]="item.icon" class="mx-auto max-h-12 mb-4" />
        <strong>
          {{ item.name }}
        </strong>
      </div>
    </div>

    <div class="flex justify-center">
      <button
        class="button"
        routerLink="/dashboard"
        [queryParams]="{ isExisting: true }"
      >
        Começar
      </button>
    </div>
  </div>
</section>

<section *ngIf="isExisting">
  <div class="bg-[#deebf7] h-52">
    <div class="container flex flex-col items-center py-10">
      <h1 class="text-5xl font-bold mb-2">Olá, (User name)</h1>
      <h4 class="text-lg font-bold mb-4">Que exames queres praticar hoje?</h4>

      <select class="py-2 px-6 shadow-md">
        <option *ngFor="let item of cards" [value]="item.name">
          {{ item.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="bg-white pt-9 container">
    <div class="flex items-stretch justify-center gap-10">
      <div class="d-card">
        <h2 class="text-2xl font-bold pb-4">O meu perfil</h2>
        <img src="/assets/images/hi-img.png" alt="hi-img" />
        <button
          routerLink="/edit-profile"
          class="bg-[#00216e] text-white font-semibold py-4 px-8 rounded-2xl"
        >
          Alterar dados
        </button>
      </div>
      <div class="d-card">
        <h2 class="text-2xl font-bold pb-4 text-[#4472c4]">
          Praticar escolhas múltiplas
        </h2>
        <img class="pb-4 pl-5" src="/assets/images/pc-1.png" alt="pc-1" />
        <button
          class="bg-[#4472c4] text-white font-semibold py-4 px-12 rounded-2xl"
        >
          Começar
        </button>
      </div>
      <div class="d-card">
        <h2 class="text-2xl font-bold pb-4 text-[#70ad47]">
          Fazer <br />
          um exame
        </h2>
        <img class="pb-4 pl-5" src="/assets/images/pc-1.png" alt="pc-1" />
        <button
          class="bg-[#70ad47] text-white font-semibold py-4 px-8 rounded-2xl"
          routerLink="/exam/choose"
        >
          Escolher exame
        </button>
      </div>
    </div>
  </div>
</section>
