<div class="mb-6" *ngFor="let q of questions">
  <div
    class="radiobtn"
    *ngFor="let item of q.options; index as oi"
    [ngClass]="{
      'emi-correct': isCorrect(q.id, oi),
      'emi-wrong': isWrong(q.id, oi)
    }"
  >
    <input
      type="checkbox"
      [disabled]="isSubmitted"
      id="option{{ q.id }}{{ item }}"
      name="answer{{ q.id }}"
      value="Nasim{{ item }}"
      (change)="setAnswer(q.id, oi)"
    />
    <label for="option{{ q.id }}{{ item }}"> option {{ item }} </label>
  </div>
</div>
