<div class="flex justify-between">
  <img
    class="pt-14 w-[350px] h-[250px]"
    src="/assets/images/cross.png"
    alt="cross"
  />
  <img
    class="pt-14 w-[350px] h-[250px]"
    src="/assets/images/cross.png"
    alt="cross"
  />
</div>
<div class="pt-4">
  <textarea
    name=""
    id=""
    cols="60"
    rows="8"
    class="w-full h-36 py-3 px-5 box-border bg-[#deebf7] overflow-scroll"
  ></textarea>

  <div class="flex items-end justify-end pt-6">
    <button class="bg-[#70ad47] py-2 px-4 rounded text-white">
      Next question button
    </button>
  </div>
</div>
