<div class="flex flex-col justify-center items-center bg-[#deebf7] h-52">
  <h1 class="text-5xl font-bold">Olá, (User name)</h1>
  <h4 class="text-lg font-bold pt-2 pb-2">Que exames queres praticar hoje?</h4>
  <p class="border-2 border-[#4472c4] p-3 w-96 bg-white">Português</p>
</div>
<div class="bg-white pt-9">
  <div class="flex items-center justify-center gap-20">
    <div class="bg-[#f2f2f2] pt-6 px-20 shadow-2xl w-[350px] h-[350px]">
      <h2 class="text-2xl font-bold pb-4">O meu perfil</h2>
      <img src="/assets/images/hi-img.png" alt="hi-img" />
      <button
        class="bg-[#00216e] text-white font-semibold py-4 px-8 rounded-2xl"
      >
        Alterar dados
      </button>
    </div>
    <div
      class="bg-[#f2f2f2] pt-6 px-20 text-center shadow-2xl w-[350px] h-[350px]"
    >
      <h2 class="text-2xl font-bold pb-4 text-[#4472c4]">
        Praticar escolhas múltiplas
      </h2>
      <img class="pb-4 pl-5" src="/assets/images/pc-1.png" alt="pc-1" />
      <button
        class="bg-[#4472c4] text-white font-semibold py-4 px-12 rounded-2xl"
      >
        Começar
      </button>
    </div>
    <div
      class="bg-[#f2f2f2] pt-6 px-20 shadow-2xl w-[350px] text-center h-[350px]"
    >
      <h2 class="text-2xl font-bold pb-4 text-[#70ad47]">
        Fazer <br />
        um exame
      </h2>
      <img class="pb-4 pl-5" src="/assets/images/pc-1.png" alt="pc-1" />
      <button
        class="bg-[#70ad47] text-white font-semibold py-4 px-8 rounded-2xl"
      >
        Escolher exame
      </button>
    </div>
  </div>
</div>
