<section *ngIf="step === 1">
  <div class="container max-w-5xl py-10">
    <h1 class="text-4xl font-bold text-center mb-20">Pick your plan</h1>
    <div class="flex justify-center gap-3 mb-12">
      <div
        *ngFor="let item of packages; index as i"
        class="flex-1 relative group"
      >
        <div
          class="cursor-pointer flex items-center justify-center w-[50px] h-[50px] border-2 border-blue-700 shadow-2xl bg-white absolute right-1/2 top-0 z-10 translate-x-1/2 -translate-y-[90%]"
          (click)="selectPackage(i)"
        >
          <span
            class="font-bold text-4xl group-hover:block {{
              item.selected ? '!block' : 'hidden'
            }}"
            [style.color]="item.color"
          >
            ✓
          </span>
        </div>

        <div
          class="text-center shadow-lg border-2 pt-8 px-6 rounded-[70px] relative flex flex-col bg-white"
        >
          <h3 class="text-2xl font-bold" [style.color]="item.color">
            {{ item.name }}
          </h3>
          <p class="mb-4 text-sm min-h-[40px]">
            {{ item.desc }}
          </p>

          <p [style.color]="item.color" class="font-bold mb-4">
            <del>
              {{ item.originalPrice }}
            </del>
          </p>
          <div class="flex justify-center">
            <button
              [style.background-color]="item.color"
              class="text-lg py-2 px-6 font-bold text-white rounded-full -mb-6 w-2/3"
              (click)="selectPackage(i)"
            >
              {{ item.price }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <p class="text-sm text-center mb-20">
      * Oferta limitada aos primeiros 1,000 alunos a efetuar registo no EXA
    </p>

    <div class="flex items-center justify-center mb-10">
      <button
        class="bg-[#70ad47] py-2 px-8 text-white text-xl font-semibold rounded-lg"
        routerLink="/payment"
        [queryParams]="{ step: 2 }"
      >
        Continue
      </button>
    </div>
  </div>
</section>

<section *ngIf="step === 2">
  <div class="container flex justify-between py-10">
    <div class="flex flex-col max-w-lg w-full">
      <h1 class="text-4xl font-bold mb-8">Pagamento</h1>

      <form class="w-full flex flex-col mb-10">
        <div class="mb-3 flex flex-col">
          <label class="font-bold text-lg" for="email"
            >Plano selecionado
          </label>
          <input
            class="border border-[#4472c4] p-2"
            type="email"
            placeholder="Premium (14,99€/mês*) 2 disciplinas | 20 exames"
          />
        </div>

        <div class="mb-3 flex flex-col">
          <label class="font-bold text-lg" for="password"
            >Número do cartão
          </label>
          <input
            class="border border-[#4472c4] p-2"
            type="text"
            placeholder="Data de subscrição"
          />
        </div>

        <div class="flex gap-4 mb-3">
          <div class="flex flex-col flex-1">
            <label class="font-bold text-lg" for="date">Data de validade</label>
            <input class="border border-[#4472c4] p-2 w-full" type="date" />
          </div>
          <div class="flex flex-col flex-1">
            <label class="font-bold text-lg" for="text">CSV</label>
            <input class="border border-[#4472c4] p-2 w-full" type="text" />
          </div>
        </div>

        <div class="flex flex-col">
          <label class="font-bold text-lg" for="password">Nome no cartão</label>
          <input
            class="border border-[#4472c4] p-2"
            type="text"
            placeholder="Data de subscrição  + 1 mes"
          />
        </div>
      </form>

      <div class="flex mb-10">
        <button
          class="bg-[#70ad47] py-2 px-8 text-white text-xl font-semibold rounded-lg"
          routerLink="/home"
        >
          Efetuar pagamento e alterar subscrição
        </button>
      </div>

      <p class="text-sm text-center">
        * Oferta limitada aos primeiros 1,000 alunos a efetuar registo no EXA
      </p>
    </div>
    <div></div>
  </div>

  <div class="fixed right-0 top-[4.5rem]">
    <img
      class="h-[100vh] object-cover w-[50vw]"
      src="/assets/images/login-img.png"
      alt="hi"
    />
  </div>
</section>
